<h1>Create New Library</h1>

<form action="/libraries/create">
  <label for="name">Name</label>
  <input type="text" id="name" name="library[name]" value="">
  <label for="year">Year</label>
  <input type="text" id="year" name="library[year]" value="">
  <button type="submit">Create</button>
</form>
